<ion-header>
  <!-- <ion-toolbar>
    <ion-title color="yihe">
      免单狂欢节
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content color="yihe">
    <!---->
    <div class="poster">
      <img src="assets/img/poster.jpg">
    </div>


      <div class="adContent">
        <div class="timeBox">
          <p class="timeTitle">{{timerLabel}}</p>
          <p class="time">
            <span class="timeDetail">{{timeDay}}</span> 天
            <span class="timeDetail">{{timeHour}}</span> 时
            <span class="timeDetail">{{timeMinute}}</span> 分
            <span class="timeDetail">{{timeSecond}}</span> 秒
          </p>
        </div>

        <div class="contentBox" style="display: none">
          <div class="contentTitle">
            <i class="line"></i>
              <p class="title">参与用户</p>
            <i class="line"></i>
          </div>
          <div class="content_user">
            <ion-grid>
              <ion-row>
                <!-- <ion-col size="2" *ngFor="let item of productList"> -->
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img  src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col>
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">abcdefghijk</p>
                </ion-col> 
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四</p>
                </ion-col> 
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col> 
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col> 
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col> 
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col> 
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col>   
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col>  
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col>  
                <ion-col size="2.4">
                  <div class="userLogoBox"> 
                    <img class="userLogo" src="http://thirdwx.qlogo.cn/mmopen/vi_32/dYYdXxvlulpss1QHiavtppXvVbicBKSWXszGYXV3ticLrJb4XMlroiaYAldvStumZfBICFchiaaia4DbOIDcNUUoXlCA/132" />       
                  </div>
                  <p class="nickname">一二三四五六七</p>
                </ion-col>    

              </ion-row>
            </ion-grid>

          </div>
        </div>

        <div class="rankBox" style="display: none">
          <p class="rankTitle">领红包排行榜</p>

          <ion-grid class="rankListBox">
            <ion-row>
              <ion-col size="2">
                <ion-label class="rankListTitle">排名</ion-label>
              </ion-col>
              <ion-col size="4.5">
                <ion-label class="rankListTitle">用户名</ion-label>
              </ion-col>
              <ion-col size="2.5">
                <ion-label class="rankListTitle">推广人数</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label class="rankListTitle">红包奖励</ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <img class="rankNum1" src="assets/img/rank1.png">
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="assets/img/headIcon1.png" class="headIcon">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <img class="rankNum1" src="assets/img/rank2.png">
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="assets/img/headIcon2.png" class="headIcon">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <img class="rankNum1" src="assets/img/rank3.png">
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="assets/img/headIcon3.png" class="headIcon">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <ion-label>4</ion-label>
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <ion-label>5</ion-label>
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <ion-label>6</ion-label>
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <ion-label>7</ion-label>
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>

            <ion-row class="rankRow">
              <ion-col size="2" class="rankListItem">
                <ion-label>8</ion-label>
              </ion-col>
              <ion-col size="4.5" class="rankListItem">
                <div class="rankUserHead">
                  <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/N7zEsRp42ug3pmhN6xE7eEYNvYpRD9iabkvtbdlne6bkboZP2dkrdt9ZYJoScib4SrVAMeXWQmdFZJ7fvLl79ricg/132" class="rankHeadImg">
                </div>
                <p class="rankUserName">只只上半节课上半节课上半节课</p>
              </ion-col>
              <ion-col size="2.5" class="rankListItem">
                <p class="rankPeopleNum">361人</p>
              </ion-col>
              <ion-col size="3" class="rankListItem">
                <p class="rankMoney">10830.00</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="contentBox">
          <div class="contentTitle">
            <i class="line2"></i>
            <p class="title">联盟商家大礼包</p>
            <i class="line2"></i>
          </div>
         
          <ion-list class="merchants">
            <!--列出每个店铺-->
            <!--店铺的地址等信息-->
            <div *ngFor="let merchant of merchantList, let i = index">
              <ion-list-header class="merchant_box" [style.background]='bgCss[i%3]'>
                <div class="merchant_info_left" (click)="goTo(merchant.mid)">
                  <img [src]="common.config.img_domain+merchant.media.thumbnail_url" (click)="goTo(merchant.mid)" class="merchant_img">
                  <div class="merchant_info">
                    <p class="merchant_title">{{merchant.title}}</p>
                    <div class="merchant_contact">
                      <img src="assets/img/call3.png" class="iconBox">
                      <p class="contact_text">{{merchant.telephone.split(" ")[0]}}</p>
                    </div>
                    <div class="merchant_contact">
                      <img src="assets/img/address3.png" class="iconBox">
                      <p class="contact_text">{{merchant.address.text}}</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="getCoupon" *ngIf="userinfo.grade==0" (click)="presentAlertCollect('buy')">点击<br/>领取</div> -->
                <div class="getCoupon" *ngIf="userinfo.grade==0">即将<br/>开始</div>
                <div class="getCoupon" *ngIf="userinfo.grade>0" (click)="coupon()">马上<br/>使用</div>
              </ion-list-header>
              <!--优惠券信息-->
              <div *ngFor="let coupon of merchant.coupons, let j = index">
                <ion-item lines="full" id="m_{{merchant.mid}}_c_{{j}}" [style]="j>=2 ? none:'' || j==1 ? border:'' || j==(merchant.coupons.length-1) ? border:''" (click)="expand_fold(merchant.mid,merchant.coupons.length)">
                  <div class="couponInfo">
                    <div class="couponContent">
                      <p class="free">赠</p>
                      <p class="couponText">{{coupon.label}}</p>
                    </div>
                    <p class="tip">使用规则：点击本店头像查看免单详情！</p>
                  </div>
                  <div class="arrowBox" *ngIf="j==0 && merchant.coupons.length>2" >
                    <img src="assets/img/arrowup.png" id="m_{{merchant.mid}}_up" class="arrowUpAndDown" style="display: none;">
                    <img src="assets/img/arrowdown.png" id="m_{{merchant.mid}}_down" class="arrowUpAndDown">
                  </div>
                  <div class="couponNumber" *ngIf="j==0">
                    共{{merchant.coupons.length}}张
                  </div>
                </ion-item>
              </div>
            </div>
          </ion-list>
        </div>

        <div class="contentBox">
          <div class="contentTitle">
            <i class="line"></i>
            <p class="title">活动介绍</p>
            <i class="line"></i>
          </div>

          <div class="content_intro_box">
            <div class="content_intro">
              <strong>1、如何购买礼包？</strong><br />
              点击购买输入姓名电话，支付成功即可！<br /><br />
              <strong>2、如何使用电子券？</strong><br />
              点击各商家电子券的使用，到商家店面出示界面即可，由商家店员进行核销！<br /><br />
              <strong>3、购买后使用时间为多少？</strong><br />
              需要注意的是活动的抢购截止时间并非使用的截止时间一般商家福利都有2-3个月的使用时间，具体以商家详细页为准！<br /><br />
              <strong>4、本活动是不是所有商家显示福利都能使用？</strong><br />
              对！购买后，所有商家显示的所有福利都能够使用！<br /><br />
              <strong>5、这么多福利用不完怎么办？</strong><br />
              本电子券认券不认人，觉得福利太多，可以带着亲朋好友一起使用免单福利！<br /><br />
              注：本次活动联盟商家均证照齐全，正常营业，各商家以品宣传为准（用店内商品或服务代替现今昂贵的广告费回馈济南费者），才有了本次活动。再次声明本次活动真实有效，绝无任何硬性消费，请放心购买！
            </div>
          </div>
        </div>
      </div>
      
      <div class="poster">
        <img src="assets/img/pormotion.jpg">
      </div>

      <div class="apply" (click)="application()">
        申请加入一合优品商家联盟
      </div>

  <!-- <video width="320" height="240" controls="controls">
  <source src="http://localhost:8801/videos/1499233652663.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video> -->

<ion-fab vertical="top" horizontal="end" slot="fixed" class="fab_button fab_right">
  <ion-fab-button size="small" (click)="playAudio()">
    <img class="audio_img" id="audio_img" src="assets/img/musical-notes.png" />
    <audio autoplay="autoplay" preload="" loop="loop" id="audio" [src]="common.config.img_domain+'audio/Coincidance.mp3'"></audio>
  </ion-fab-button>
  <ion-fab-button size="small" (click)="complain()"><p>投诉</p></ion-fab-button>
  <ion-fab-button size="small" (click)="customerService()"><p>客服</p></ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fab_button">
  <ion-fab-button size="small" (click)="withdraw()"><p>提现</p></ion-fab-button>
  <!-- <ion-fab-button color="danger" (click)="share()"><p>分享<br />赚红包</p></ion-fab-button> -->
  <ion-fab-button color="danger"><p>即将<br />赚红包</p></ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab_button">
  <ion-fab-button size="small" (click)="sales()" *ngIf="userinfo && userinfo.type==2"><p>营业<br />情况</p></ion-fab-button>
  <ion-fab-button color="success" (click)="coupon()" *ngIf="userinfo && userinfo.grade>0"><p>我的<br />礼包</p></ion-fab-button>
  <!-- <ion-fab-button color="success" (click)="presentAlertCollect('buy')" *ngIf="userinfo && userinfo.grade==0"><p>领取<br />大礼包</p></ion-fab-button> -->
  <ion-fab-button color="success" *ngIf="userinfo && userinfo.grade==0"><p>即将<br />开始</p></ion-fab-button>
</ion-fab>

</ion-content>
