.p_content{
    padding: 1rem;
    color: #000;
}

.salesList{
	background: #fff;
	border-radius: 1rem;
    margin-bottom: 0.5rem;
    //border:1px solid #ff6600
}

.userHead{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.headImg{
    border-radius: 10%;
    background: #aaa;
}
// ion-col{
//     border:1px solid #ff6600
// }

.contextCol{
    padding: 0.5rem;
    ion-label{
        font-size: 1.6rem;
    }
    div{
        font-size: 1.5rem;
        
        span{
            color: #ff6600;
        }
    }
    p{
        font-size: 1.4rem;
    }
}

.left{
    padding: 0;
    text-align: left
}

.right{
    padding: 0;
    text-align: right
}

.verifyBtn{
    text-align: center;
    display: flex;             /*flex弹性布局*/
    align-items: center;
    ion-button{
        font-size: 1.6rem;
        height: 5.5rem;
        width: 3rem;
    }
}


.blank {
    font-size: 1.8rem;
    text-align: center;
    padding:8rem 0 40rem 0;
    background: #f4f5f8;
    color: #ff6600;
    border-radius: 1rem;
}