<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-segment color="yihe" [(ngModel)]="tab">
      <ion-segment-button value="available" checked>
        <ion-label>未使用</ion-label>
      </ion-segment-button>
      <ion-segment-button value="used">
        <ion-label>已使用</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>
<ion-content color="yihe">
  <div [ngSwitch]="tab" class="p_content">
    <div *ngSwitchCase="'available'">
      <div class="blank" *ngIf="availableCouponList.length==0">恭喜您，全都用完了。。。</div>
      <ion-list class="merchants" *ngIf="availableCouponList.length>0">
        <!--列出每个店铺-->
        <!--店铺的地址等信息-->
        <div *ngFor="let merchant of availableCouponList, let i = index">
          <ion-list-header id="m_{{merchant.mid}}" class="merchant_box" [style.background]='bgCss[i%3]' (click)="goTo(merchant.mid)">
            <div class="merchant_info">
              <p class="merchant_title">{{merchant.title}}</p>
              <div class="merchant_contact">
                <img src="assets/img/call3.png" class="iconBox">
                <p class="contact_text">{{merchant.telephone}}</p>
              </div>
              <div class="merchant_contact">
                <img src="assets/img/address3.png" class="iconBox">
                <p class="contact_text">{{merchant.address}}</p>
              </div>
            </div>
          </ion-list-header>
          <!--优惠券信息-->
          <div *ngFor="let coupon of merchant.coupons, let j = index">
            <ion-item lines="full" id="m_{{merchant.mid}}_c_{{j}}" [style]="j==(merchant.coupons.length-1) ? border:''">
              <div class="couponInfo">
                <div class="couponContent">
                  <p class="free">赠</p>
                  <p class="couponText">{{coupon.label}}</p>
                </div>
                <p class="tip">使用规则：点击本店头像查看免单详情！</p>
              </div>
              <div class="arrowBox" >
                <img src="assets/img/arrowright.png" id="m_{{merchant.mid}}_down" class="arrowright">
              </div>
              <div class="useBtn" (click)="presentUse(merchant.mid, coupon.cid, coupon.label)">
                去使用
              </div>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </div>

    <div *ngSwitchCase="'used'">
      <div class="blank" *ngIf="usedCouponList.length==0">一张都没有用过。。。</div>
      <ion-list class="merchants"  *ngIf="usedCouponList.length>0">
        <!--列出每个店铺-->
        <!--店铺的地址等信息-->
        <div *ngFor="let merchant of usedCouponList, let i = index">
          <ion-list-header id="m_{{merchant.mid}}" class="merchant_box" [style.background]='bgCss[i%3]'>
            <div class="merchant_info_left" (click)="goTo(merchant.mid)">
              <div class="merchant_info">
                <p class="merchant_title">{{merchant.title}}</p>
                <div class="merchant_contact">
                  <img src="assets/img/call3.png" class="iconBox">
                  <p class="contact_text">{{merchant.telephone}}</p>
                </div>
                <div class="merchant_contact">
                  <img src="assets/img/address3.png" class="iconBox">
                  <p class="contact_text">{{merchant.address}}</p>
                </div>
              </div>
            </div>
            <!-- <div class="getCoupon" *ngIf="userinfo && userinfo.grade==0" (click)="presentAlertCollect('buy')">点击<br/>领取</div> -->
            <div class="getCoupon" *ngIf="userinfo && userinfo.grade==0">即将<br/>开始</div>
            <div class="getCoupon" *ngIf="userinfo && userinfo.grade>0" (click)="coupon()">马上<br/>使用</div>
          </ion-list-header>
          <!--优惠券信息-->
          <div *ngFor="let coupon of merchant.coupons, let j = index">
            <ion-item lines="full" id="m_{{merchant.mid}}_c_{{j}}" [style]="j==(merchant.coupons.length-1) ? border:''">
              <div class="couponInfo">
                <div class="couponContent">
                  <p class="free">赠</p>
                  <p class="couponText">{{coupon.label}}</p>
                </div>
                <p class="tip">使用规则：点击本店头像查看免单详情！</p>
              </div>
              <div class="useBtn">
                已使用
              </div>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </div>
  </div>

</ion-content>
