.p_content{
    padding: 1rem;
}

.fab_button{
    ion-fab-button{
        --background:rgba(0,0,0,0.5);
        --color:#fff;
        p{
            font-size: 1.2rem;
            font-weight:500;
        }
    }
}

.fab_left_top_margin{
    top: 6rem;
}

.blank {
    font-size: 1.8rem;
    text-align: center;
    padding:8rem 0 40rem 0;
    background: #f4f5f8;
    color: #ff6600;
    border-radius: 1rem;
}

.merchants {
    width: 100%;
    background:#ff6600;
    margin: 0;
    padding: 0;
}
.merchant_box {
    width: 100%;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 1rem;
}

.merchant_info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.merchant_title {
    font-size: 1.6rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.merchant_contact {
    width: 100%;
    display: flex;
}

.contact_text {
    width: 100%;
    font-size: 1.2rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconBox {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
}

.getCoupon {
    width: 15%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

}

.couponInfo{
    padding: 1rem 0 0 0rem;
}

.couponContent{
    width: 100%;
    display: flex;
    align-items: center;
}

.free {
    width: 2rem;
    height: 2rem;
    background: rgba(255, 61, 61, 1);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 2rem;
    text-align: center;
    margin-right: 0.5rem;
}

.couponText {
    width: 75%;
    font-size: 1.4rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    flex-wrap: wrap;
    color: rgba(53, 53, 53, 1);
    line-height: 2rem;
}

.tip{
    font-size:1.2rem;
    font-family:PingFang-SC-Regular;
    font-weight:500;
    color:rgba(178,178,178,1);
    margin: 0.2rem 0 0.5rem 2.5rem;
}

.useBtn {
    width: 18%;
    display: flex;
    position: absolute;
    top: 2rem;
    right: 0px;
    font-size: 1.6rem;
    height: 1.6rem;
    color: rgb(255, 0, 0);
    padding-right: 0.5rem;
}

